<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Appointment</title>
</head>
<body>
<h2> Add Appointment </h2>

<form action="/appointments/create" method="post">
    Select visit Time: <input type="datetime-local" name="date.time" ><br>
    Select Patient:
    <select name="patient.id">
        <option th:each="patient: ${patients}"
                th:text="${patient.name}" th:value="${patient.id}"></option>
    </select> <br>
    Select Doctor:
    <select name="doctor.id">
        <option th:each="doctor: ${doctors}"
                th:text="${doctor.name}" th:value="${doctor.id}"></option>
    </select> <br>
    <input type="submit" value="add">
</form>
</body>
</html>